---
import MainLayout from "./MainLayout.astro";
import { Navbar } from "../components/navbar";

const {
    title = "Pixel Tree",
    description = "Pixel Tree Landing Page",
    image,
    frontmatter,
    robots,
} = Astro.props;
---

<MainLayout {title} {description} {image} {frontmatter} {robots}>
    <Navbar />
    <main>
        <slot />
    </main>
</MainLayout>
