---
import MainHead from "./MainHead.astro";

const {
  title = "Pixel Tree",
  description = "Pixel Tree Website",
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <MainHead {title} {description} {image} {frontmatter} {robots} />
  <body
    class="min-h-screen bg-gradient-to-tr from-[#17141E] to-[#122818] bg-no-repeat"
  >
    <slot />
  </body>
</html>
